pre .operator,
pre .paren {
	color: rgb(104, 118, 135)
}

pre .literal {
	color: #990073
}

pre .number {
	color: #099;
}

pre .comment {
	color: #998;
	font-style: italic
}

pre .keyword {
	color: #900;
	font-weight: bold
}

pre .identifier {
	color: rgb(0, 0, 0);
}

pre .string {
	color: #d14;
}
