body {
	margin: 0px !important;
	padding: 0px !important;
	font-family: sans-serif;
	background-image: url("../images/codecrystalbg-low.jpg");
	background-size: 500px;
	overflow-y: scroll;
}

a {
	margin: 5px 0px 0px;
	color: #804080;
	text-decoration: none;
}

[data-darkreader-mode="dynamic"] a {
	color: #C080C0;
}

a:hover {
	text-decoration: underline;
	color: #402040;
}

[data-darkreader-mode="dynamic"] a:hover {
	color: #E080E0;
}

a.button {
	display: block;
	padding: 20px;
	color: #000000;
	background-color: #E0E0E0;
	border: 1px solid #000000;
}

a.button:hover {
	background-color: #F0F0F0;
	border: 1px solid #808080;
}

a.foot {
	display: inline !important;
}

h1 {
	margin-top: 0px;
}

.clrb {
	clear: both;
}

div#llms {
	display: none;
}

div.h1 {
	display: block;
	border-bottom: 2px solid #000000;
	font-size: 30px;
	font-weight: bold;
	margin: 40px 0px 10px;
}

img.comic {
	padding: 5px 0px;
}
table.quote {
	padding: 0px 20px 20px 20px;
}
table.quote th.left {
	vertical-align: top;
	font-weight: bold;
}
table.quote th.right {
	vertical-align: bottom;
	font-weight: bold;
}
table.quote td.author {
	text-align: center;
}

span.clrb {
	clear: both;
}

div#header {
	width: 100%;
	margin: 0px !important;
	padding: 50px 0px 0px 0px;
}

div#header table {
	width: 100%;
}

div#header table tbody,
div#header table tr,
div#header table tr td {
	margin: 0px !important;
	padding: 0px !important;
}

div#header table td {
	border-top: 5px solid #000000;
	border-bottom: 5px solid #000000;
	background-color: #FFFFFF;
}

[data-darkreader-mode="dynamic"] div#header table td {
	border-top: 5px solid #808080;
	border-bottom: 5px solid #808080;
	background-color: #202020;
}

div#header table td.spacer {
	width: 50%;
}

div#header table td a {
	border: 0px;
	display: block;
	text-decoration: none;
	padding: 0px;
}

div#header table td#ghsig {
	vertical-align: top;
	border-top: 0px !important;
	border-bottom: 0px !important;
}

div#header table td#gh,
div#header table td#da,
div#header table td#sig {
	vertical-align: top;
	border-top: 0px !important;
	border-bottom: 0px !important;
}

div#header table td#sig {
	vertical-align: middle;
}

div#header table td#gh a {
	margin: 0px !important;
	padding: 0px 10px 0px 0px !important;
}

div#header table td#sig a {
	margin: 0px !important;
	padding: 0px 20px 0px 0px !important;
	font-weight: bold;
	color: #000000;
	text-align: right;
}

[data-darkreader-mode="dynamic"] table td#sig a {
	color: #FFFFFF !important;
}

div#header table td#email {
	border-bottom: 0px !important;
}

div#header table td#email a {
	padding: 0px 20px 0px 0px !important;
	color: #000000;
}

[data-darkreader-mode="dynamic"] div#header table td#email a {
	color: #FFFFFF !important;
}

div#header table td#email a:hover {
	text-decoration: underline;
}

div#header table td#golden-apple {
	text-align: center;
	margin: 0px;
	padding: 20px !important;
	background: none;
	border-top: 0px !important;
	border-left: 5px solid #000000;
	border-right: 5px solid #000000;
	border-bottom: 0px !important;
}

[data-darkreader-mode="dynamic"] div#header table td#golden-apple {
	border-left: 5px solid #808080;
	border-right: 5px solid #808080;
}

div#header table td#golden-apple img {
	margin: 0px;
	padding: 0px !important;
	border: 2px solid #FFFFFF;
	height: 100px;
	width: 100px;
}

div#header table td#pages a {
	border: 0px;
	display: block;
	width: 150px;
	color: #804080;
	text-align: left;
	text-decoration: none;
	padding: 0px 2px 2px 20px;
}

div#header table td#pages a:hover {
	text-decoration: none;
	border-bottom: 2px solid #402020;
	color: #402040;
	padding: 0px 2px 0px 20px;
}

[data-darkreader-mode="dynamic"] div#header table td#pages a {
	color: #A080A0;
}

[data-darkreader-mode="dynamic"] div#header table td#pages a:hover {
	color: #C080C0;
	border-bottom: 2px solid #C080C0;
}

div#header table td#email {
	border-top: 0px !important;
	text-align: right;
}

div#header table td#ukr_ribbon,
div#header table td#ukr_ribbon a {
	margin: 0px !important;
	padding: 0px !important;
	vertical-align: top;
}

div#header table td#ukr_stjavelin img {
	height: 90px;
	margin-right: 25px !important;
}

div#body,
div#body2 {
	display: block;
	float: left;
	width: 90%;
	margin: 2.5%;
	padding: 30px;
	border: 5px solid #000000;
	background-color: #FFFFFF;
}

[data-darkreader-mode="dynamic"] div#body,
[data-darkreader-mode="dynamic"] div#body2 {
	border: 5px solid #808080;
	background-color: #202020;
	color: #FFFFFF;
}

div#body div.frontmatter,
div#body2 div.frontmatter {
	display: none;
}

img#smbc {
	height: 1024px;
}

span.censored {
	color: #000000;
	background-color: #000000;
}

div#dropout {
	display: block;
	float: left;
	width: 90%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 60px;
	border: 5px solid #000000;
	background-color: #FFFFFF;
}

table#dropout {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

table#dropout tr th#step1 {
	color: #404040;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	background-color: #C0C0C0;
	font-size: 15pt;
	width: 33%;
	border-bottom: 4px solid #000000;
}

table#dropout tr th#step2 {
	color: #404040;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	background-color: #C0C0C0;
	border-left: 4px solid #000000;
	border-right: 4px solid #000000;
	font-size: 15pt;
	width: 33%;
	border-bottom: 4px solid #000000;
}

table#dropout tr th#step3 {
	color: #000000;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	background-color: #FFFFFF;
	font-size: 15pt;
	width: 34%;
	border-bottom: 4px solid #FFFFFF;
}

table#dropout tr td {
	padding: 30px 0px 30px 60px;
}

table#dropout tr td img {
	height: 48px;
	width: 48px;
	padding-right: 10px;
}

table#dropout tr td a:hover {
	text-decoration: none;
}

pre code, div.quote, div.highlight pre {
	display: block;
	overflow-y: auto;
	color: #FFFFFF;
	background: #202020;
	text-align: left !important;
	padding: 10px;
}

[data-darkreader-mode="dynamic"]
pre code, div.quote, div.highlight pre {
	color: #FFFFFF;
	background-color: #101010;
}

pre .identifier {
	color: #FFFFFF !important;
}

pre .operator,
pre .paren,
pre span.p {
	color: #808080 !important;
}

pre span.kn {
	color: #900 !important;
	font-weight: bold;
}

pre span.sa,
pre span.s2,
pre span.se {
	color: #d14 !important;
}

pre span.mi {
	color: #099 !important;
}

pre span.o {
	color: #808080 !important;
}

pre span.ch,
pre span.c1 {
	color: #998 !important;
	font-style: italic !important;
}

pre span.k,
pre span.ow {
	color: #900 !important;
	font-weight: bold;
}

pre span.vm {
	color: #990073 !important;
}

div#footer {
	clear: both;
	width: 100%;
	margin: 20px 0px 20px 0px !important;
	padding: 5px 0px 5px 0px !important;
	background-color: #FFFFFF;
	border-top: 5px solid #000000;
	border-bottom: 5px solid #000000;
	text-align: center;
	font-weight: bold;
}

[data-darkreader-mode="dynamic"] div#footer {
	background-color: #202020;
	border-top: 5px solid #808080;
	border-bottom: 5px solid #808080;
	color: #FFFFFF;
}

div#footer a {
	text-decoration: none;
	color: #000000;
	padding: 0px 0px 1px 0px !important;
}

[data-darkreader-mode="dynamic"] div#footer a {
	color: #FFFFFF;
}

div#footer a:hover {
	text-decoration: underline;
	color: #000000;
	padding: 0px !important;
}

[data-darkreader-mode="dynamic"] div#footer a:hover {
	color: #FFFFFF;
}

div.header {
	padding: 10px 0px;
	font-weight: bold;
	text-decoration: underline;
}

div.project {
	padding: 2px 0px;
}

div.header_block {
	width: 45%;
}

table.repo {
	float: left;
	width: 45%;
}

table.repo th {
	padding-top: 10px;
	text-align: left;
}

table.repo tr.deprecated td.version {
	text-decoration: line-through;
	color: #D06060;
}

table.repo tr.functional td.version {
	color: #808080;
}

div.taproj {
	float: left;
	padding: 20px;
}

div.taproj h1 {
	text-decoration: underline;
	font-weight: bold;
}

img.tamainthumb {
	float: left;
	padding-bottom: 10px;
}

div.taprevcol {
	float: left;
}

div.tathumbcol {
	float: left;
	width: 150px;
	padding: 0px;
	white-space: none;
}

div.tathumbcol200 {
	float: left;
	width: 250px;
	padding: 0px;
	white-space: none;
}

div.tathumbcol300 {
	float: left;
	width: 350px;
	padding: 0px;
	white-space: none;
}


div.tathumbcol a,
div.tathumbcol200 a,
div.tathumbcol300 a {
	float: left;
	padding: 0px 0px 5px 5px;
	margin: 0px;
}

div.tathumbcol img,
div.tathumbcol200 img,
div.tathumbcol300 img {
	float: left;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

h1 a {
	color: #000000;
}

h1 a:hover {
	color: #000000;
	text-decoration: none !important;
}

img#makerpowered {
	width: 200px;
}

img.photo {
	padding-bottom: 20px;
	width: 80%;
}

div.articles {
	float: left;
}

div.rss {
	float: right;
}

div.rss img {
	width: 24px;
}

div.modrepos {
	float: right;
}

div.modrepos h2 {
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}

/* R plots */
p img {
	max-width: 100%;
}

div#anal-2005,
div#anal-2006,
div#anal-2007,
div#anal-2008,
div#anal-2009,
div#anal-2010,
div#anal-2011,
div#anal-2012,
div#anal-2013,
div#anal-2014,
div#anal-2015,
div#anal-2016,
div#anal-2017,
div#anal-2018,
div#anal-2019,
div#anal-2020,
div#anal-2021,
div#anal-2022,
div#anal-2023,
div#anal-2024 {
	clear: both;
	background-position: 0px 35px;
	background-repeat: no-repeat;
	background-size: 100% 15px;
	border-bottom: 0px !important;
	padding-bottom: 15px;
}

div#anal-2005 {
	background-image: url("../images/gitlog/gitlog-2005.png");
}

div#anal-2006 {
	background-image: url("../images/gitlog/gitlog-2006.png");
}

div#anal-2007 {
	background-image: url("../images/gitlog/gitlog-2007.png");
}

div#anal-2008 {
	background-image: url("../images/gitlog/gitlog-2008.png");
}

div#anal-2009 {
	background-image: url("../images/gitlog/gitlog-2009.png");
}

div#anal-2010 {
	background-image: url("../images/gitlog/gitlog-2010.png");
}

div#anal-2011 {
	background-image: url("../images/gitlog/gitlog-2011.png");
}

div#anal-2012 {
	background-image: url("../images/gitlog/gitlog-2012.png");
}

div#anal-2013 {
	background-image: url("../images/gitlog/gitlog-2013.png");
}

div#anal-2014 {
	background-image: url("../images/gitlog/gitlog-2014.png");
}

div#anal-2015 {
	background-image: url("../images/gitlog/gitlog-2015.png");
}

div#anal-2016 {
	background-image: url("../images/gitlog/gitlog-2016.png");
}

div#anal-2017 {
	background-image: url("../images/gitlog/gitlog-2017.png");
}

div#anal-2018 {
	background-image: url("../images/gitlog/gitlog-2018.png");
}

div#anal-2019 {
	background-image: url("../images/gitlog/gitlog-2019.png");
}

div#anal-2020 {
	background-image: url("../images/gitlog/gitlog-2020.png");
}

div#anal-2021 {
	background-image: url("../images/gitlog/gitlog-2021.png");
}

div#anal-2022 {
	background-image: url("../images/gitlog/gitlog-2022.png");
}

div#anal-2023 {
	background-image: url("../images/gitlog/gitlog-2023.png");
}

div#anal-2024 {
	background-image: url("../images/gitlog/gitlog-2024.png");
}
